html {
  /* background: url(https://source.unsplash.com/1600x1600/?wall); */
  background: lightblue;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  font-size: 10px;
}
body {
  margin: 0;
  /* makes the webpage fit the whole screen. */
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}
.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  /* the top edge of the line will be positioned in the middle. */
  top: 50%;
}
